/*********************************
6. Home
*********************************/

.home {
  width: 100%;
  height: 332px;
}
.home_container {
  position: absolute;
  left: 0;
  bottom: 98px;
  width: 100%;
}
.home_content {
  padding-left: 160px;
}
.home_title {
  font-size: 72px;
  font-weight: 300;
  color: #414141;
  line-height: 0.75;
}
.breadcrumbs {
  margin-top: 20px;
}
.breadcrumbs ul li {
  position: relative;
}
.breadcrumbs ul li:not(:last-child)::after {
  display: inline-block;
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 400;
}
.breadcrumbs ul li,
.breadcrumbs ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #8f8f8f;
}
.breadcrumbs ul li a {

  transition: all 200ms ease;
}
.breadcrumbs ul li a:hover {
  color: #414141;
}

/*********************************
7. Cart
*********************************/

.cart_section {
  width: 100%;
  background: #ffffff;
  padding-top: 83px;
  padding-bottom: 104px;
}
.cart_bar {
  width: 100%;
  background: #edf4f6;
}
.cart_bar_list {
  display: block;
  height: 48px;
}
.cart_bar_list li {
  font-size: 12px;
  font-weight: 500;
  color: #414141;
  text-align: center;
}
.cart_bar_list li:first-child {
  padding-left: 30px;
}
.item_list > *:first-child {
  text-align: left;
  width: 37%;
}
.item_list > *:nth-child(2) {
  width: 13%;
}
.item_list > *:nth-child(3) {
  width: 13%;
  margin-right: 3%;
}
.item_list > *:nth-child(4) {
  width: 13%;
}
.item_list > *:nth-child(5) {
  width: 9%;
}
.item_list > *:nth-child(6) {
  width: 12%;
}
.cart_items {
  padding-bottom: 4px;
  border-bottom: solid 1px #b0b2b3;
}
.cart_items_list {
  display: block;
}
.cart_item {
  width: 100%;
  height: 195px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.product {
  height: 100%;
}
.product_image {
  height: 100%;
  width: 119px;
}
.product_image img {
  max-width: 100%;
}
.product_name {
  padding-left: 50px;
}
.product_name a {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #414141;
  font-weight: 600;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.product_name a:hover {
  color: #bbe432;
}
.product_text {
  font-size: 16px;
  font-weight: 700;
  color: #414141;
}
.product_quantity {
  width: 85px;
  height: 51px;
  background: #edf4f6;
}
.product_quantity > span {
  line-height: 51px;
  text-align: center;
}
.qty_button {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  width: 18px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  font-size: 16px;
  color: #414141;
}
.qty_button span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.qty_button:hover {
  color: #bbe432;
}
.qty_sub {
  left: 8px;
}
.qty_add {
  right: 8px;
}
.product_text > span {
  display: none;
}
.cart_buttons {
  margin-top: 32px;
}
.button {
  height: 47px;
  text-align: center;
  margin-bottom: 10px;
}
.button:not(:last-child) {
  margin-right: 24px;
}
.button a {
  display: block;
  line-height: 47px;
  padding-left: 47px;
  padding-right: 47px;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  text-transform: uppercase;
}
.button_continue {
  background: #bbe432;
}
.button_continue:hover {
  background: #414141;
}
.button_continue:hover a {
  color: #bbe432;
}
.button_clear {
  background: #edf4f6;
}
.button_clear:hover {
  background: #414141;
}
.button_clear:hover a {
  color: #ffffff;
}
.button_update {
  background: #414141;
}
.button_update:hover {
  background: #bbe432;
}
.button_update:hover a {
  color: #414141;
}
.button_update a {
  color: #bbe432;
}
.cart_extra_container {
  margin-top: 91px;
}
.cart_extra_1 {
  padding-right: 47px;
}
.cart_extra_2 {
  padding-left: 47px;
}
.cart_extra_content {
  background: #edf4f6;
  padding-top: 78px;
  padding-left: 94px;
  padding-right: 60px;
}
.cart_extra_coupon {
  padding-bottom: 133px;
}
.cart_extra_title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #414141;
  line-height: 0.75;
}
.coupon_form_container {
  max-width: 400px;
  margin-top: 28px;
}
.coupon_form {
  display: block;
}
.coupon_input {
  width: 100%;
  height: 52px;
  border: none;
  background: #ffffff;
  outline: none;
}
.coupon_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 143px;
  height: 52px;
  background: #bbe432;
  color: #414141;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
}
.shipping {
  margin-top: 78px;
  max-width: 363px;
}
.shipping ul {
  margin-top: 47px;
}
.shipping ul li:not(:last-child) {
  margin-bottom: 27px;
}
.shipping_option input {
  display: inline-block;
  vertical-align: middle;
}
.radio_container {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #838383;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.shipping_radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.radio_mark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 11px;
  height: 11px;
  background: transparent;
  border: solid 2px #9f9f9f;
  border-radius: 50%;
}
.radio_container input:checked ~ .radio_mark {
  background: #414141;
  border-color: #414141;
}
.radio_container input:checked ~ .radio_text {
  color: #414141;
}
.shipping_price {
  font-size: 14px;
  font-weight: 600;
  color: #838383;
}
.cart_extra_total {
  padding-bottom: 82px;
  padding-right: 80px;
}
.cart_extra_total_list {
  margin-top: 64px;
}
.cart_extra_total_list li {
  position: relative;
}
.cart_extra_total_list li:not(:last-child) {
  margin-bottom: 27px;
}
.cart_extra_total_title,
.cart_extra_total_value {
  font-size: 14px;
  font-weight: 600;
  color: #414141;
}
.cart_extra_total_list li:last-child .cart_extra_total_title,
.cart_extra_total_list li:last-child .cart_extra_total_value {
  color: #3a3a3a;
  font-weight: 800;
}
.cart_extra_total_list li:last-child::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% + 76px);
  height: 41px;
  background: #ffffff;
  content: "";
  z-index: 0;
}
.checkout_button {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #bbe432;
  margin-top: 86px;
}
.checkout_button a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  line-height: 60px;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.checkout_button:hover {
  background: #414141;
}
.checkout_button:hover a {
  color: #bbe432;
}
.container {
  margin: auto;
}

/*********************************
8. Newsletter
*********************************/

.newsletter {
  width: 100%;
  padding-top: 95px;
  padding-bottom: 81px;
}
.newsletter_title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
}
.newsletter_subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 14px;
}
.newsletter_form_container {
  margin-top: 94px;
}
.newsletter_form {
  width: 100%;
}
.newsletter_input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.newsletter_input:hover,
.newsletter_input:focus {
  border-bottom: solid 2px #bbe432;
}
.newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 138px;
  height: 45px;
  background: #bbe432;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.newsletter_input::-webkit-input-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.newsletter_input:-moz-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.newsletter_input::-moz-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.newsletter_input:-ms-input-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.newsletter_input::input-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}

/*********************************
9. Footer
*********************************/

.footer {
  width: 100%;
  background: #f6f8fa;
}
.footer_content {
  padding-top: 84px;
  padding-bottom: 64px;
}
.footer_logo {
  width: 212px;
}
.footer_logo a {
  display: block;
}
.footer_logo a > div {
  border: solid 2px #bbe432;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 0.75;
  color: #bbe432;
  padding-left: 25px;
  padding-right: 26px;
}
.footer_logo a > div span {
  text-transform: uppercase;
  color: #1a1a1a;
}
.footer_about_text {
  padding-right: 50px;
  margin-top: 57px;
}
.cards {
  margin-top: 50px;
}
.cards ul li:not(:last-child) {
  margin-right: 7px;
}
.footer_questions {
  margin-top: 8px;
  padding-right: 50px;
}
.footer_title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #414141;
  text-transform: uppercase;
}
.footer_list {
  margin-top: 88px;
}
.footer_list ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  -ms-columns: 2;
  -o-columns: 2;
  columns: 2;
}
.footer_list ul li {
  position: relative;
  padding-left: 22px;
}
.footer_list ul li::before {
  display: block;
  position: absolute;
  top: 8px;
  left: 1px;
  width: 5px;
  height: 5px;
  background: #d8e3e7;
  border: solid 2px #d8e3e7;
  content: "";
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_list ul li:hover::before {
  top: 7px;
  left: 0;
  width: 7px;
  height: 7px;
  background: transparent;
  border: solid 2px #bbe432;
}
.footer_list ul li:not(:last-child) {
  margin-bottom: 9px;
}
.footer_list ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #8f8f8f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_list ul li a:hover {
  color: #414141;
  font-weight: 700;
}
.footer_blog {
  margin-top: 8px;
  padding-right: 50px;
}
.footer_blog_container {
  margin-top: 92px;
}
.footer_blog_item:not(:last-child) {
  margin-bottom: 30px;
}
.footer_blog_image {
  width: 68px;
  height: 68px;
}
.footer_blog_image img {
  max-width: 100%;
}
.footer_blog_content {
  padding-left: 29px;
}
.footer_blog_title {
  margin-top: -4px;
}
.footer_blog_title a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #414141;
  text-transform: uppercase;
  line-height: 1.2;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_blog_title a:hover {
  color: #bbe432;
}
.footer_blog_date {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8f8f8f;
  margin-top: 4px;
}
.footer_blog_link {
  margin-top: 9px;
}
.footer_blog_link a {
  font-size: 12px;
  font-weight: 500;
  color: #bbe432;
}
.footer_contact {
  margin-top: 8px;
  padding-right: 50px;
}
.footer_contact_list {
  margin-top: 88px;
  padding-right: 20px;
}
.footer_contact_list ul li:not(:last-child) {
  margin-bottom: 19px;
}
.footer_contact_list ul li span {
  font-size: 14px;
  font-weight: 700;
  color: #bbe432;
}
.footer_contact_list ul li div {
  padding-left: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #8f8f8f;
  line-height: 1.75;
  margin-top: -1px;
}
/* Footer Social */
.footer_social {
  width: 100%;
  background: #f0f5f7;
}
.footer_social_container {
  width: 100%;
  height: 124px;
}
.footer_social_item {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer_social_icon i {
  font-size: 30px;
  color: #d7d7d7;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_social_item:hover .footer_social_icon i {
  color: #bbe432;
}
.footer_social_title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #9f9fa0;
  text-transform: uppercase;
  margin-left: 20px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_social_item:hover .footer_social_title {
  color: #414141;
}
/* Credits */
.credits {
  width: 100%;
  background: #1a1a1a;
}
.credits_content {
  width: 100%;
  height: 81px;
}
.credits_text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #787878;
}

/* ======================================================= */

/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {
  .footer_about_text,
  .footer_questions,
  .footer_blog,
  .footer_contact {
    padding-right: 0;
  }
  .footer_social_title {
    margin-left: 10px;
  }
}

/************
1.5 1500px
************/

@media only screen and (max-width: 1500px) {
  .cart_extra_1 {
    padding-right: 0px;
  }
  .cart_extra_2 {
    padding-left: 0px;
    margin-top: 80px;
  }
  .footer_col:nth-last-child(n + 3) {
    margin-bottom: 80px;
  }
  .footer_about_text,
  .footer_questions,
  .footer_blog,
  .footer_contact {
    padding-right: 50px;
  }
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
  .footer_social_title {
    display: none !important;
  }
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
  .super_container {
    padding-left: 0;
  }
  .home_container {
    bottom: 70px;
  }
  .home_content {
    padding-left: 115px;
  }
  .sidebar {
    display: none;
  }
  .section_container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section_container .container {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    display: block;
  }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  .section_container .container {
    max-width: 720px;
  }
  .header_nav,
  .header_extra .info_languages,
  .header_extra .info_currencies {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .header_logo {
    margin-left: 25px;
  }
  .cart_bar {
    display: none;
  }
  .item_list > * {
    width: 100% !important;
  }
  .cart_item {
    height: auto;
  }
  .product_name {
    padding-left: 0px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .product_quantity {
    width: 65px;
  }
  .product_text > span {
    display: inline-block;
    margin-right: 15px;
  }
  .product_size,
  .product_price {
    margin-top: 5px;
  }
  .product_quantity_container {
    margin-top: 15px;
  }
  .product_total {
    margin-top: 30px;
  }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {
}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {
}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
  .section_container .container {
    max-width: 540px;
  }
  .home_content {
    padding-left: 80px;
  }
  .cart_extra_content {
    padding-left: 60px;
  }
  .footer_col:nth-last-child(n + 3) {
    margin-bottom: 0px;
  }
  .footer_col:not(:last-child) {
    margin-bottom: 80px;
  }
  .footer_social_icon i {
    font-size: 24px;
  }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
  .header {
    height: 50px;
  }
  .header_logo a > div {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 14px;
  }
  .cart_icon {
    width: 18px;
  }
  .cart_num {
    top: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .home_content {
    padding-left: 15px;
  }
  .home_title {
    font-size: 56px;
  }
  .menu {
    width: 100vw;
    left: -100vw;
  }
  .section_container .container {
    max-width: 100%;
  }
  .button_1 {
    width: 123px;
    height: 40px;
  }
  .button_1 a {
    font-size: 12px;
    line-height: 40px;
  }
  .header_logo {
    margin-left: 20px;
  }
  .header .cart {
    margin-right: 40px;
  }
  .hamburger {
    margin-left: 15px;
  }
  .cart_extra_content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .cart_extra_total_list li:last-child::before {
    width: calc(100% + 36px);
  }
  .newsletter_form_container {
    margin-top: 71px;
  }
  .newsletter_input {
    height: 40px;
  }
  .newsletter_button {
    font-size: 12px;
    width: 108px;
    height: 40px;
  }
  .footer_social_icon i {
    font-size: 16px;
  }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {
}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
  .home {
    height: 250px;
  }
  .home_container {
    bottom: 46px;
  }
  .home_title {
    font-size: 48px;
  }
  .breadcrumbs {
    margin-top: 6px;
  }
  .breadcrumbs ul li,
  .breadcrumbs ul li a {
    font-size: 14px;
  }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
}
