
/*********************************
6. Home
*********************************/

.home
{
	width: 100%;
	height: 332px;
}
.home_container
{
	position: absolute;
	left: 0;
	bottom: 98px;
	width: 100%;
}
.home_content
{
	padding-left: 160px;
}
.home_title
{
	font-size: 72px;
	font-weight: 300;
	color: #414141;
	line-height: 0.75;
}
.breadcrumbs
{
	margin-top: 20px;
}
.breadcrumbs ul li
{
	position: relative;
}
.breadcrumbs ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18px;
	font-weight: 400;
}
.breadcrumbs ul li,
.breadcrumbs ul li a
{
	font-size: 16px;
	font-weight: 700;
	color: #8f8f8f;
}
.breadcrumbs ul li a
{

	transition: all 200ms ease;
}
.breadcrumbs ul li a:hover
{
	color: #414141;
}

/*********************************
7. Product
*********************************/

.product
{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 99px;
}
/* Sorting & Filtering */
.products_bar
{
	width: 100%;
	background: #f6f8fa;
	z-index: 1;
}
.products_bar_content
{
	width: 100%;
	height: 113px;
}
.product_categories ul li
{
	height: 38px;
	background: transparent;
	padding-left: 20px;
	padding-right: 20px;

	transition: all 200ms ease;
}
.product_categories ul li:not(:last-child)
{
	margin-right: 12px;
}
.product_categories ul li:hover,
.product_categories ul li.active
{
	background: #bbe432;
}
.product_categories ul li a
{
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	line-height: 38px;
	white-space: nowrap;
}
.product_content_container
{
	padding-top: 87px;
}
.product_content
{
	width: 74%;
	padding-right: 18px;
}
.product_image_row:not(:last-child)
{
	margin-bottom: 36px;
}
.product_image_1
{
	width: 54.48%;
	padding-right: 18px;
}
.product_image_2
{
	width: 45.42%;
	padding-left: 18px;
}
.product_image_4
{
	width: 45.61%;
	padding-right: 25px;
}
.product_image_5
{
	width: 29.1%;
	padding-left: 25px;
}
.product_image img
{
	max-width: 100%;
}
.product_sidebar
{
	width: 26%;
	padding-left: 18px;
}
.product_form
{
	display: block;
}
.product_name
{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #414141;
	line-height: 1.2;
}
.product_price
{
	font-size: 24px;
	font-weight: 700;
	color: #414141;
	margin-top: 13px;
}
.product_color
{
	font-size: 16px;
	font-weight: 700;
	color: #414141;
	margin-top: 34px;
}
.product_color span
{
	color: #838383;
}
.product_size
{
	margin-top: 53px;
}
.product_size_title
{
	font-size: 16px;
	font-weight: 700;
	color: #414141;
	line-height: 0.75;
	padding-bottom: 21px;
	border-bottom: solid 1px #b0b2b3;
}
.product_size_list
{
	padding-left: 28px;
	margin-top: 38px;
}
.product_size_list ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.product_size_list ul li.size_available
{
	cursor: pointer;
}
.product_size_list ul li a,
.product_size_list ul li
{
	font-size: 14px;
	font-weight: 700;
	color: #bcbcbc;
}
.product_size_list ul li.size_available
{
	color: #414141;
}
.product_size_list ul li.size_available:hover,
.regular_radio:checked + label
{
	color: #bbe432;
}
.regular_radio
{
    display: none;
}
.regular_radio + label
{

    appearance: none;
}
.product_size_list ul li.size_available .regular_radio + label
{
	cursor: pointer;
}
.cart_button
{
	width: 100%;
	height: 45px;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	background: #edf4f6;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 44px;
}
.cart_button:hover
{
	background: #414141;
	color: #FFFFFF;
}
.similar_products_button
{
	width: 100%;
	height: 45px;
	text-align: center;
	background: #414141;
}
.similar_products_button a
{
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #bbe432;
	text-transform: uppercase;
	line-height: 45px;
	margin-top: 17px;

	transition: all 200ms ease;
}
.similar_products_button:hover
{
	background: #bbe432;
}
.similar_products_button:hover a
{
	color: #414141;
}
.product_links
{
	margin-top: 47px;
}
.product_links ul li:not(:last-child)
{
	margin-bottom: 8px;
}
.product_links ul li a
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #414141;

	transition: all 200ms ease;
}
.product_links ul li a:hover
{
	color: #bbe432;
}

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

	.product_categories ul li:not(:last-child)
	{
		margin-right: 5px;
	}
}

/************
1.5 1500px
************/

@media only screen and (max-width: 1500px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.super_container
	{
		padding-left: 0;
	}
	.home_container
	{
		bottom: 70px;
	}
	.home_content
	{
		padding-left: 115px;
	}
	.sidebar
	{
		display: none;
	}
	.section_container
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.section_container .container
	{
		max-width: 960px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.header
	{
		display: block;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.section_container .container
	{
		max-width: 720px;
	}
	.header_nav,
	.header_extra .info_languages,
	.header_extra .info_currencies
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.header_logo
	{
		margin-left: 25px;
	}
	.product_content
	{
		width: 100%;
		padding-right: 0px;
		margin-top: 80px;
	}
	.product_sidebar
	{
		width: 100%;
		padding-left: 0px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.section_container .container
	{
		max-width: 540px;
	}
	.home_content
	{
		padding-left: 80px;
	}
	.product_image_row
	{
		margin-bottom: 0 !important;
	}
	.product
	{
		padding-bottom: 63px;
	}
	.product_image
	{
		width: 100% !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		margin-bottom: 36px;
	}
	.footer_col:nth-last-child(n+3)
	{
		margin-bottom: 0px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.footer_social_icon i
	{
		font-size: 24px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.header
	{
		height: 50px;
	}
	.header_logo a > div
	{
	    padding-top: 10px;
	    padding-bottom: 10px;
	    font-size: 14px;
	    padding-left: 12px;
	    padding-right: 14px;
	}
	.cart_icon
	{
		width: 18px;
	}
	.cart_num
	{
		top: 10px;
		width: 20px;
		height: 20px;
		line-height: 20px;
	}
	.home_content
	{
		padding-left: 15px;
	}
	.home_title
	{
		font-size: 56px;
	}
	.menu
	{
		width: 100vw;
		left: -100vw;
	}
	.section_container .container
	{
		max-width: 100%;
	}
	.button_1
	{
		width: 123px;
		height: 40px;
	}
	.button_1 a
	{
		font-size: 12px;
		line-height: 40px;
	}
	.header_logo
	{
		margin-left: 20px;
	}
	.header .cart
	{
		margin-right: 40px;
	}
	.hamburger
	{
		margin-left: 15px;
	}
	.product_categories ul li
	{
		height: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.product_categories ul li a
	{
		font-size: 14px;
		line-height: 30px;
	}
	.product_name
	{
		font-size: 24px;
	}
	.product_price
	{
		font-size: 20px;
	}
	.newsletter_form_container
	{
		margin-top: 71px;
	}
	.newsletter_input
	{
		height: 40px;
	}
	.newsletter_button
	{
		font-size: 12px;
		width: 108px;
		height: 40px;
	}
	.footer_social_icon i
	{
		font-size: 16px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.home
	{
		height: 250px;
	}
	.home_container
	{
		bottom: 46px;
	}
	.home_title
	{
		font-size: 48px;
	}
	.breadcrumbs
	{
		margin-top: 6px;
	}
	.breadcrumbs ul li, .breadcrumbs ul li a
	{
		font-size: 14px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}